.navbar-container
{
    display: flex;
    padding: 16px;
    width: 100%;
    height: 512px;
    color: white;
    justify-content: space-between;
    background-color: transparent;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 64px;
}

.logo
{
    color: aqua;
    font-size: 20pt;
    cursor: pointer;
}

nav .nav-menu
{
    display: flex;
}

.nav-menu li
{
    padding: 0px 16px;
}

.nav-menu li:hover
{
    cursor: pointer;
    color: aqua;
}